<br><br>
<small class="form-text text-center text-mate" style="text-color:red">username: Tushar@gmail pwd:Tushar@1</small>
<br><br>
<small class="form-text text-center text-danger" style="text-color:red">{{errorMsg}}</small>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email" formControlName="emailid">
        <div *ngIf="formdata.controls.emailid.errors">
          <small class="form-text  text-danger" style="text-color:red">Not Valid!</small>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
          formControlName="passwd">
          <div *ngIf="formdata.controls.passwd.errors">
            <small class="form-text text-danger" style="text-color:red">At least 6, One Uppercase, one Lowercase and one Number</small>
          </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" name="remember_me" for="exampleCheck1">Remember me</label>
      </div>
      <div class="form-group form-check">
      </div>
      <button type="submit" [disabled]="!formdata.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col"></div>
</div>
